<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div *ngFor="let image of allUrl;let i = index" class="column">
    <img [src]="image.url" style="width:100%" 
      (click)="openModal();currentSlide(image.id + 1)" class="hover-shadow cursor">
  </div>
  <!-- <div class="column">
    <img src="https://via.placeholder.com/150/51aa97" style="width:100%" 
    (click)="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="https://via.placeholder.com/150/810b14" style="width:100%"
    (click)="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="https://via.placeholder.com/150/66b7d2" style="width:100%" 
    (click)="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div> -->
</div>

<div #myModal id="myModal" class="modal">
  <span class="close cursor" (click)="closeModal()">&times;</span>
  <div class="modal-content">

    <div *ngFor="let image of allUrl;let i = index" #mySlides class="mySlides">
      <div   class="numbertext">{{i + 1}} / {{allUrl.length}}</div>
      <img [src]="image.url" style="width:100%;height: 300px;">

     
    </div>

   

    <!-- <div #mySlides class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="https://via.placeholder.com/150/51aa97" style="width:100%;height: 300px;">
    </div>

    <div #mySlides class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="https://via.placeholder.com/150/810b14" style="width:100%;height: 300px;">
    </div>
    
    <div #mySlides class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="https://via.placeholder.com/150/66b7d2" style="width:100%;height: 300px;">
    </div> -->
    
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p #caption id="caption"></p>
    </div>


    <!-- <div *ngFor="let image of allUrl;let i = index" class="column">
      <img #demo class="demo cursor" [src]="image.url" style="width:100%" 
      (click)="currentSlide(image.id)" alt="Nature and sunrise">
    </div> -->
    <!-- <div class="column">
      <img #demo class="demo cursor" src="https://via.placeholder.com/150/51aa97" style="width:100%" 
      (click)="currentSlide(2)" alt="Snow">
    </div>
    <div class="column">
      <img #demo class="demo cursor" src="https://via.placeholder.com/150/810b14" style="width:100%" 
      (click)="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img #demo class="demo cursor" src="https://via.placeholder.com/150/66b7d2" style="width:100%" 
      (click)="currentSlide(4)" alt="Northern Lights">
    </div> -->
  </div>
</div>

<router-outlet></router-outlet>
